@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<head>
    <link href="~/content/bootstrap.min.css" rel="stylesheet">
</head
<br/> <br/> <br/>
<fieldset>
    <legend><b>CART</b> <button onclick="discardCart()">Discard Cart</button></legend>
    <br/>
<table border="1" width="60%" cellpadding="10px" style="background: rgba(0, 0, 0,0.5);color:white;">
@if (@Model.Item.Count>0){
    <tr>
        <th colspan="5">@Model.RestaurantName</th>
    </tr>
    <tr>
        <th>
            Item#
        </th>
        <th>
            Item Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Total
        </th>
    </tr>
    for(int i=0;i<@Model.Item.Count;i++)
    {
    <tr>
        <td>
            @(i+1)
        </td>
        <td>
            @Model.Item[i].Name
        </td>
        <td align="center">
            @Model.Quantity[i]
        </td>
        <td>
            @Model.Item[i].Price
        </td>
        <td>
            @Model.Price[i]
        </td>
    </tr>
    }
    <tr>
        <td colspan="4" align="right">Grand Total</td>
        <td align="right">@Model.Total</td>
    </tr>
    <tr>
        <td colspan="4" align="right">Delivery Charge</td>
        <td align="right">+@Model.DeliveryCharge</td>
    </tr>
    <tr>
        <td colspan="4" align="right">VAT(@ViewBag.VATinPercentage %)</td>
        <td align="right">+@Model.VAT</td>
    </tr>
    <tr>
        <td colspan="4" align="right">Discount(@ViewBag.DiscountinPercentage %)</td>
        <td align="right">-@Model.Discount</td>
    </tr>
    <tr>
        <td colspan="4" align="right">Bill</td>
        <td align="right">@Model.Bill</td>
    </tr>
    <tr><td colspan="5" align="right"><button onclick='checkOut(@Model.Bill)'  style="background:red;padding:5px">Proceed to Checkout</button></td></tr>
}
else{
    <tr><td align="center">Cart is empty.</td></tr>
}
</table>
<script>
    function checkOut(bill) {
        if(bill>1)
        {
            location = "/Customer/Checkout";
        }
        else
        {
            alert("Cart is empty!");
        }
    }
    function discardCart(){
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (req.readyState == 4) {
                location.reload();
            }
        }
        req.open("GET", "/Customer/DiscardCart", true);
        req.send();
    }
</script>